.header-section-wrap,
.header-container-wrap,
.header-content-wrap {
    width: 100%;
    height: 80px;
    position: relative;
}

.header-section-wrap {
    box-shadow: 1px 1px 3px rgb(200, 243, 241);
}

.header-content-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* logo  */

.logo-container-wrap {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container-wrap img {
    width: 100%;
}

/* nagivation options */

nav > ul > li {
    display: inline;
    margin: 0rem 1rem;
}

nav > ul > li > a {
    text-decoration: none;
    color: #000;
    transition: all 100ms ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: blueviolet;
}

/* header buttons  */

.header-btn-cont {
    display: flex;
    gap: 1rem;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-family: 200;
}

.request-btn-container{
    background-color: rgba(137, 43, 226, 0.795);
    width: 150px;
    height: 45px;
    transition: all 100ms ease-in-out;
}

.request-btn-container:hover {
    background-color: blueviolet;
}

.login-btn-container {
    background-color: rgba(0, 0, 255, 0.699);
    width: 100px;
    height: 45px;
    transition: all 100ms ease-in-out;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-btn-container:hover {
    background-color: blue;
}

#head-btn {
    text-decoration: none;    
    color: #fff;
}

.menu-icon-wrap {
    display: none;
    cursor: pointer;
}

/* responsive navigation options  */


.res-nav-wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 5rem;
    background: linear-gradient(to bottom,#5677FA, #673CA4);
    padding: 1rem;
    display: flex;
    justify-content: center;
    animation: ResponsiveNavbar alternate 200ms ease-in-out;
    z-index: 1000;
}

.res-nav-container a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 2rem 0rem;
    color: #ffffff;
}

.res-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.res-btn-container a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0.5rem 0rem;
    color: #ffffff;
}

#res-req {
    width: 200px;
    height: 45px;
    background-color: rgb(0, 153, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

/* animation  */

@keyframes ResponsiveNavbar {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;        
    }
    100% {
        opacity: 1;
    }
}

/* RESPONSIVENESS  */

@media (max-width: 1000px) {
    .navigation-container-wrap,
    .header-btn-wrap{
        display: none;
    }

    .header-content-wrap {
        justify-content: space-between;
        padding: 0rem 1rem;
    }

    .menu-icon-wrap {
        display: block;
    }
}